@using Escc.Umbraco.UserAccessManager.Models
@model PasswordResetModel
    
@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "Password Reset Verification";
}

    <h2>Password Reset Verification</h2>
    
    <p class="highlight">@ErrorMessageModel.ErrorMsg(TempData["MsgKey"].ToString())</p>

