
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.scc
.vs/*

# Umbraco files
[Uu]mbraco/
[Uu]mbraco_Client/
[Aa]pp_Data/
[Aa]pp_Browsers/
[Ii]nstall/
[Cc]onfig/Splashes/
[Dd]efault.aspx

[Vv]iews/[Ww]eb.config.transform
[Uu]serControls/EastSussexGovUK/cached

[Ww]eb.config
[Ww]eb.Debug.config
[Ww]eb.Release.config
[Aa]pp.config

[Pp]ackages