@model UmbracoUserControl.Models.UmbracoUserModel
@{
    ViewBag.Title = "Create New User";
}

<h2>Create new user</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label class="col-md-2 control-label" for="userName">Username</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="Username" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="fullName">Full Name</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Full Name" />
                </div>
            </div>
            <div class="form-group">

                <label class="col-md-2 control-label" for="emailAddress">Email Address</label>
                <div class="col-md-4">
                    <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email Address" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <button class="btn btn-primary" type="submit">Go!</button>
                </div>
            </div>
        }
    </div>
</div>