@model ESCC.Umbraco.UserAccessManager.Models.UmbracoUserModel

@{
    ViewBag.Title = "Find User";
}

@using (Html.BeginForm("LookUpUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    <p class="highlight">@TempData["Message"]</p>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" id="searchinput" class="btn btn-default dropdown-toggle" data-toggle="dropdown">User<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li id="menuitemuser"><a>Username</a></li>
                        <li id="menuitememail"><a>Email Address</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control" id="searchterm" name="Username" placeholder="Username" />
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Find</button>
                </span>
            </div>
        </div>
    </div>
}
