@model ESCC.Umbraco.UserAccessManager.Models.UmbracoUserModel

@{
    ViewBag.Title = "Create New User";
}

<div class="row">
    <div class="col-sm-12">
        <p class="highlight">@TempData["Message"]</p>
        @using (Html.BeginForm("LookUpUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" id="searchinput" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Email<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li id="menuitemuser"><a>Username</a></li>
                            <li id="menuitememail"><a>Email Address</a></li>
                        </ul>
                    </div>
                    <input type="email" class="form-control" id="searchterm" name="emailAddress" placeholder="Email Address" />
                    <button class="btn btn-primary" type="submit">Find</button>
                </div>
            </div>
        }
    </div>
</div>