@model UmbracoUserControl.ViewModel.ContentTreeViewModel

@Html.ActionLink("Check user permissions", "CheckPermissionsForUser", "Permissions", new { id = @Model.UserId }, new { @class = "btn btn-info", @role = "button" })

<div id="tree" class="col-md-4">
</div>

<p class="hidden" id="userId">@Model.UserId</p>
<p class="hidden" id="apppath">@Request.ApplicationPath</p>