@model UmbracoUserControl.ViewModel.ContentTreeViewModel

<div id="tree" class="col-md-4">
</div>

<p class="hidden" id="userId">@Model.UserId</p>
<p class="hidden" id="apppath">@Request.ApplicationPath</p>