@model UmbracoUserControl.ViewModel.ContentTreeViewModel

@{
    ViewBag.Title = "User Permissions";
}

<div class="row">

    <p>@ViewBag.Error</p>
    <h1>Content Tree for @Model.FullName</h1>

    @{
        Html.RenderAction("LookupContentTree", "Permissions", new { UserId = @Model.UserId });
    }
</div>