@model UmbracoUserControl.ViewModel.ContentTreeViewModel

@{
    ViewBag.Title = "User Permissions";
}

<div class="row">

    <p>@TempData["Message"]</p>
    <h1>Content Tree for @Model.FullName</h1>

    @{
        Html.RenderAction("LookupContentTree", "Permissions", new { model = @Model });
    }
</div>