@model UmbracoUserControl.ViewModel.ContentTreeViewModel

@{
    ViewBag.Title = "User Permissions";
}


<h1>Content Tree for @Model.FullName</h1>

@{
    Html.RenderAction("LookupContentTree", "Permissions", new { UserId = @Model.UserId });
}