@using System.Configuration
@model  IEnumerable<ESCC.Umbraco.UserAccessManager.Models.UmbracoUserModel>
@{
    // Model contains all Web Editors, including any that are disabled in Umbraco
    // Remove any disabled Web Editors from the list
    var activeWebEditors = Model.Where(u => u.UserLocked == false);
}
<h4>Web Editors:</h4>
<ul class="list-group-x">
    @foreach (var item in @activeWebEditors)
    {
        <li class="list-group-item-x">
            <p>
                <a href="@String.Format(ConfigurationManager.AppSettings["StaffLookupUrl"], item.FullName)" target="_blank">@item.FullName</a>
                -
                @item.EmailAddress
            </p>
        </li>
    }
</ul>

