@using System.Configuration
@model  IEnumerable<ESCC.Umbraco.UserAccessManager.Models.UmbracoUserModel>
@{
    // Model contains all Web Editors, including any that are disabled in Umbraco
    // Remove any disabled Web Editors from the list
    var activeWebEditors = Model.Where(u => u.UserLocked == false);
}
<h4>Web Editors:</h4>

<table class="table table-striped">
    @foreach (var item in @activeWebEditors)
    {
        <tr>
            <td class="col-md-3">
                @item.FullName
            </td>
            <td class="col-md-3">
                <a href="@String.Format(ConfigurationManager.AppSettings["StaffLookupUrl"], item.FullName)" target="_blank">View staff page</a>
            </td>
            <td class="col-md-6">
                <a href="mailto:@item.EmailAddress">@item.EmailAddress</a>
            </td>
        </tr>
    }
</table>

