@using System.Configuration
@using ESCC.Umbraco.UserAccessManager.Utility
@model IList<ESCC.Umbraco.UserAccessManager.Models.PermissionsModel>

<h4>@Model.First().FullName is a web author for the following pages</h4>
@{
    if (Model.First().UserLocked)
    {
        <p class="highlight">This user is currently Disabled</p>
    }

    var siteUri = ConfigurationManager.AppSettings["SiteUri"];
    var editurl = string.Format("{0}#/content/content/edit/", siteUri);
    var viewurl = siteUri.Replace("/umbraco/", "");
}
<table class="table table-striped">
@foreach (var page in @Model)
{
    var allauthors = (page.PageUrl != "#") ? page.PageUrl : page.PageId.ToString();
    
    <tr>
        <td class="col-md-9">
            @page.PagePath@page.PageName
        </td>
        <td class="col-md-1">
            <a href="#" class="lookupallauthors" data-url="@allauthors" onclick="return lookupallauthors(this);">all authors</a>
        </td>
        <td class="col-md-1">
            <a class="ui-button" href="@editurl@page.PageId" target="_blank">edit page</a>
        </td>
        <td class="col-md-1">
        @if (page.PageUrl != "#")
        {
            <a class="ui-button" href="@viewurl@page.PageUrl" target="_blank">view page</a>
        }
        </td>
    </tr>
}
</table>