@using Escc.Umbraco.UserAccessManager.Utility
@model Escc.Umbraco.UserAccessManager.Models.PermissionsModel
@{
    ViewBag.Title = "Tools";
    Html.RenderPartial("_ToolsMenu");

    var userName = string.Empty;

    if (Model != null)
    {
        userName = Model.Username;
    }
}

<div class="row">
    <div class="col-sm-12 col-md-6">
        <fieldset>
            <h4>Lookup user permissions</h4>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" id="searchinput" class="btn btn-default dropdown-toggle" data-toggle="dropdown">User <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li id="menuitemuser"><a>Username</a></li>
                        <li id="menuitememail"><a>Email Address</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control" id="searchterm" name="Username" placeholder="Username" value="@userName" />
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="lookupUserPermissions" type="submit">Find</button>
                </span>
            </div>
            <p class="hidden" id="apppath">@Functions.GetAppPath(Request.ApplicationPath)</p>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="PermissionsResults">
        @if (!string.IsNullOrEmpty(userName))
        {
            Html.RenderAction("LookupUserPermissions", "Tools");
        }
    </div>
</div>


