@model IList<ESCC.Umbraco.UserAccessManager.Models.PermissionsModel>
<h4>@Model.First().FullName is a web author for the following pages</h4>
@if (Model.First().UserLocked)
{
    <p class="highlight">This user is currently Disabled</p>
}

<ul class="list-group-x">
    @foreach (var page in @Model)
        {
        <li class="list-group-item-x">
            @page.PagePath@page.PageName (@page.PageId)
        </li>
        }
</ul>