@using System.Configuration
@model IEnumerable<ESCC.Umbraco.UserAccessManager.Models.PermissionsModel>
@{
    var siteUri = ConfigurationManager.AppSettings["SiteUri"];
    var editurl = string.Format("{0}#/content/content/edit/", siteUri);
    var viewurl = siteUri.Replace("/umbraco/", "");
}
@{
    Html.RenderPartial("_ToolsMenu");
}
    <h4>Pages without web authors</h4>

<table class="table table-striped">
    @foreach (var page in @Model)
    {
        <tr>
            <td class="col-md-10">
                @page.PagePath@page.PageName
            </td>
            <td class="col-md-1">
                <a class="ui-button" href="@editurl@page.PageId" target="_blank">edit page</a>
            </td>
            <td class="col-md-1">
                @if (page.PageUrl != "#")
                {
                    <a class="ui-button" href="@viewurl@page.PageUrl" target="_blank">view page</a>
                }
            </td>
        </tr>
    }
</table>
