@using Escc.Umbraco.UserAccessManager.Models
@{
    var errMsg = ErrorMessageModel.ErrorMsg(TempData["MsgKey"].ToString());
}
<div class="alert alert-danger">
    <p class="highlight">@errMsg</p>
</div>