@model UmbracoUserControl.Models.UmbracoUserModel

@{
    ViewBag.Title = "Create New User";
}

<div class="row">
    <div class="col-md-6">
        <p>@TempData["Message"]</p>
        @using (Html.BeginForm("LookUpUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
        {
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" id="searchinput" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Email<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li id="menuitemuser"><a>Username</a></li>
                            <li id="menuitememail"><a>Email Address</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                    <input type="email" class="form-control" id="searchterm" name="emailAddress" placeholder="Email Address" />
                </div><!-- /input-group -->
                @*<label class="col-md-2 control-label" for="emailAddress">Email</label>
                    <div class="col-md-4">
                        <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email Address" />
                    </div>*@
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <button class="btn btn-primary" type="submit">Go!</button>
                </div>
            </div>
        }
    </div>
</div>

@*<div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Username</a></li>
                        <li><a href="#">Email Address</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email Address" />
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>*@

@*<script>
        //$("searchinput").click(function() {
        //    alert("test1");
        //});
        alert("test2");
    </script>*@